/* #region cards slider */
.cards-slider-wrapper {
    display: flex;
    position: relative;
    transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
    margin-top: 0vw;
    margin-left: 385vw;
    .card {
    top: 4vw;
      flex: 1;
      min-width: 25vw;
      min-height: 15vw;
      opacity: 0.7;
      margin-left: 15vw;
      transform: scale(0.8);
      box-shadow: none;
      background-color: white;
      border-color: white;
      transition: opacity 300ms linear, border-color 300ms linear, background-color 300ms linear,transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
      .details {
        opacity: 0;
        transition: opacity 150ms linear;
        height: fit-content;
      }
    }
  }
  
  $i: 0;
  @for $i from 1 through 10 {
      .cards-slider.active-slide-#{$i} #card-#{$i} {
        opacity: 1;
        transform: scale(2);
        background-color: black;
        border: solid 3px;
        border-color: black;
        .details {
          opacity: 1;
        }
      }
      .cards-slider.active-slide-#{$i} #card-#{$i}:hover{
        background-color: rgb(15, 15, 15);
      }
  }
  
  .col {
    // height: 264px;
    // position: relative;
    // &:before,
    // &:after {
    //     content: '';
    //     display: block;
    //     width: 50%;
    //     height: 120%;
    //     background: linear-gradient(to right, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
    //     position: absolute;
    //     top: 0;
    //     left: 0;
    //     z-index: 2;
    // }
    // &:after {
    //     left: auto;
    //     right: 0;
    //     background: linear-gradient(to left, rgba(255, 255, 255, 1) 15%, rgba(255, 255, 255, 0) 100%);
    // }
  }
  
  .cards-slider {
    // position: relative;
    // max-width: 226px;
    // margin: 0 auto;
  
    // boder for active property
    // &:after {
    //   content: '';
    //   display: block;
    //   width: 50vw;
    //   height: 50vh;
    //   outline: 5px solid #61DAFB;
    //   position: absolute;
    //   top: 2vw; 
    // }
  }
  /* #endregion */